
* {
    box-sizing: border-box; /* BORDER-BOX ALLOWS US TO ADD PADDING AND BORDER TO THE ELEMENTS WITHOUT INCREASING THEIR SIZE */
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;  
}

body {
    background: linear-gradient(110deg, #f93d66, #6d47d9);
}

p {
    font-size: 50px;
    border-bottom: 10px solid yellow;
    color: black;
}

.item {
    background: yellow;
    text-align: center;
}

.container {
    display: grid;  /* ALL CHILDREN OF CONTAINER ARE CONSIDERED GRID ITEMS */
    gap: 20px;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 150px 150px 100px;
    grid-template-areas: "sidebar-1 content sidebar-2" /*FOR EACH INDIVIDUAL ROW*/
                         "sidebar-1 content sidebar-2"
                         "footer    footer  footer";
}

.footer {
    grid-area: footer;
}

.item1 {
    grid-area: sidebar-1;
}

.item2 {
    grid-area: content;
}

.item3 {
    grid-area: sidebar-2;
}



