
* {
    box-sizing: border-box; /* BORDER-BOX ALLOWS US TO ADD PADDING AND BORDER TO THE ELEMENTS WITHOUT INCREASING THEIR SIZE */
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;  
}

body {
    background: linear-gradient(110deg, #f93d66, #6d47d9);
}

p {
    font-size: 50px;
    border-bottom: 10px solid yellow;
    color: black;
}

.item {
    background: yellow;
    text-align: center;
}

.container {
    display: grid;  /* ALL CHILDREN OF CONTAINER ARE CONSIDERED GRID ITEMS */
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

.item9 {
    /* grid-column: span 2; SHORTHAND FOR GRID-COLUMN-START AND END */
    background: green;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-column: 2 / 5;
    grid-column: 1 / -1;  /* START / END */
    grid-row: 1 / span 1;
}